:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --main-text-color: #000;
  --btn-text-color: #fff;
  --bg-color: #fff;
  --hover-text-color: #fff;
  --line-color: #d3d3d3;
  --color-gradient-start: #e7e7e7;
  --color-gradient-end: #1a1a1a;
  --spark-color: #ff0000;
  --color-body-heart-animation: #ff0000;
}
